* {
  margin: 0;
  padding: 0;
  box-sizing: unset;
}
.Nav {
  position: fixed;
  z-index: 2;
  background-color: rgb(108, 204, 248);
  width: 100%;
  outline-color: blueviolet;
  color: blueviolet;
}

.menubutton {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
}

img ~ img {
  position: fixed;
  right: 10px;
  top: 8px;
}
.Nav__logo {
  margin-top: 12px;
}
.Nav__black {
  z-index: 2;
  background: rgba(79, 201, 250, 0.363);
  color: blueviolet;
  width: 100%;
}
